<!-- 1. Add these JavaScript inclusions in the head of your page -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/Scripts/Highcharts-2.1.9/js/highcharts.js"></script>
<script type="text/javascript" src="/Scripts/Highcharts-2.1.9/js/themes/gray.js"></script>
<!-- 1b) Optional: the exporting module -->
<script type="text/javascript" src="/Scripts/Highcharts-2.1.9/js/modules/exporting.js"></script>
<!-- 2. Add the JavaScript to initialize the chart on document ready -->
<script src="../../Scripts/aqijs/myHighCharts.js"></script>
<!-- 3. Add the container -->
<div id="container" style="width: 800px; height: 400px; margin: 0 auto">
</div>
