body { 

    margin:0px;
    padding:0px;
}
.person
{
    height:20px; 
    min-width:20px;
    max-width:40px;
    background:white;
    position:absolute;
}
.mycard { 
    background:lightblue;
    position:relative;
    float:left;
}